body {
  margin: 0;
  font-family: sans-serif;
  background: #f6faff;
  color: #222;
  padding: 0;
}

.site-container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1em;
  text-align: center;
}
/* end of body */ 




/* == HERO == */
.hero {
background: url('1200 1H.png') center center / cover no-repeat;
  text-align: center;
  padding: 2em 1em;
  color: #333;
}

.hero-content {
  background: rgba(255, 255, 255, 0.85); /* translucent white */
  display: inline-block;
  padding: 1.5em 1em;
  border-radius: 10px;
  max-width: 90%;
  margin: 0 auto;
  color: #222; /* dark text inside white block */
}

.hero-logo {
  width: 90px;
  height: auto;
  margin-bottom: 1em;
}

.after-hero-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 10px auto;
}

.headline {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0.2em 0;
}

.address-line {
  font-size: 1em;
  margin: 0;
}

.city {
  font-size: 1.5em;
  color: #000;
  margin-bottom: 0.5em;
}

.tagline {
  font-size: 1em;
  font-style: italic;
  color: #444;
  margin-top: 0.5em;
}
/* end of hero */ 
